<div>
	<% @alerts.each do | alert |%>
		<p>form : <%= alert.from%>    country : <%= alert .from_country%>   </p>
		<p><%= alert.body%></p>
	<%end%>
</div>


<script>
	// var task = {
	// 	name: 'Start taking advantage of WebSockets',
	// 	completed: false
	// }

	var dispatcher = new WebSocketRails('sms-for-help.herokuapp.com/websocket');
	// var dispatcher = new WebSocketRails('localhost:3000/websocket');

	// dispatcher.trigger('tasks.create', task);

	dispatcher.bind('tasks.create_success', function(task) {
	  console.log('successfully created ' + task.name);
	  console.log(task.alert)
	});

</script>
