<% @alerts.each do | alert |%>
	<p>form : <%= alert.from%>    country : <%= alert .from_country%>   </p>
	<p><%= alert.body%></p>
<%end%>

<script>

var dispatcher = new WebSocketRails('sms-for-help.herokuapp.com:3000');
// var dispatcher = new WebSocketRails('localhost:3000/websocket');

 dispatcher.trigger('tasks.create', task);

dispatcher.bind('tasks.create_success', function(task) {
  console.log('successfully created ' + task.name);
  console.log(task.alert)
});

</script>
