/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */



 /* TOUT LE CSS POUR LES BLOCS DE LISTE DE RESULTAT A METTRE DANS LA VIEW QUI VA BIEN */

 .element-liste {
 	/*border: 1px solid rgba(111,111,111,0);*/
 	-webkit-box-shadow: 0 0 10px 2px rgba(100,100,100,0.2);
	box-shadow: 0 0 10px 2px rgba(100,100,100,0.2);
	padding: 10px;
	margin: 5px;
 }

.infoshaut {
	padding: 15px 0 15px 0;
	text-align: center;
}

.tel {
	background: #35B82E;
	color: #fff;
	padding: 4px;
	border: 1px solid grey;
	-webkit-box-shadow: 0 0 10px 2px rgba(200,200,200,0.5);
	box-shadow: 0 0 10px 2px rgba(200,200,200,0.5);
}
.tel_icon {
	margin: 0 20px 0 0;
}

.description {
	padding: 25px 0 0 0;
	text-align: left;
}

.notes {
	border: 1px solid #dcdcdc;
	padding: 15px;
}

.infosbas {
	/*text-align: left;*/
}

.star {
	margin: 15px;
	align: center;
}
.adress {
	text-align: center;
	font-weight: bold;
	padding: 15px 0 15px 0;
}

.plan .button {
	float: left;
	max-width: 50%;
	
}

