
<% 3.times do %>
<div class="row">
	<div class="small-12 large-8 columns" name="bloc-description">
		<div class="row" name="infos-haut">
			<div class="small-12 large-3 columns" name="num-billet">N°Billet</div>
			<div class="small-12 large-5 columns" name="date">22/12/2013</div>
			<div class="small-12 large-4 columns" name="num-tel">0650999536</div>	
		</div>
		<div class="row" name="champ-description">
			<div class="small-12">Texte description</div>
		</div>
		<div class="row" name="infos-complementaires">
			<div class="small-12 large-6 columns">Nombre de personnes concernées</div>
			<div class="small-12 large-6 columns">Infos</div>
		</div>	
		<div class="row" name="infos-bas">
			<div class="small-3">Etoile</div>
		</div>	
	</div>
	<div class="small-12 large-4 columns" name="bloc-localisation">
		<div class="adress">Adresse</div>
		<div class="plan"><iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x47e66d5f8b3a2213%3A0x21c89d9c32665a87!2s55+Rue+de+Vincennes%2C+93100+Montreuil!5e0!3m2!1sfr!2sfr!4v1387064116895" width="100%" height="300" frameborder="0" style="border:0"></iframe></div>
		<div class="row" name="buttons">
			<div class="small-6">Archiver</div>
			<div class="small-6">Soumettre</div>
		</div>	
	</div>
</div>
<% end %>